.main{
    background-color: rgb(237, 237, 237);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    border-radius: 10px;

}
.title{
    text-align: center;
}

.img-div{
    margin: 1em;
    background-color: #fff;
    padding: 5px;
}

.image{
    width: 54%;
    margin: 0 25%;
}

.img-caption{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

.container{
    margin: 0 25%;
    font-weight: 300;
    font-size: 20px;
}

span{
    font-weight: bold;
}

footer{
    text-align: center;
}
